<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Compare</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Pricing</a></li>
                <li><a href="#">Diagnosis</a></li>
                <li><a href="#">Stratergic Planning</a></li>
                <li><a href="#">Excecutive Views</a></li>
            </ul>
        </div>
    </div>
</nav>